:root {
    /* Colores */
    --color-primary: #F7931A;
    --color-primary-soft: #FFE9D5;
    --color-secondary: #1A9AF7;
    --color-secondary-soft: #E7F5FF;
    --color-primary-black: #201E1C;
    --color-secondary-black: #282623;
    --color-grey: #BABABA;
    --color-primary-white: #FFFFFF;
    --color-secondary-white: #FAF8F7;


    /* Font Weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Font Family */
    --font-family-dmSans: 'DM Sans', sans-serif;
    --font-family-inter: 'Inter', sans-serif;

    /* Font Size */
    --font-size-large: 2.4rem;
    --font-size-normal: 1.8rem;
    --font-size-small: 1.4rem;

}

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    font-family: var(--font-family-dmSans);
    background: linear-gradient(to right top, var(--color-primary), var(--color-primary-black) );
}

.header-content__title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-white);
}

.header-content__text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-soft);
}

.header-content__button {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-black);
    background-color: var(--color-secondary-white);

}